@charset "utf-8";

* {
    font-family: "Verdana", sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    margin: 0;
}

html {
    padding: 3rem;
    background-color: #212123;
    color: #EFEFEF;
}

.conteudo {
    display: flex;
    width: 350px;
    scroll-snap-type: x mandatory;
    scroll-padding: 25px;
    column-gap: 20px;
}

.card {
    display: flex;
    flex: 0 0 100%;
    margin: 5px;
    padding: 30px;
    scroll-snap-align: start;
    border-radius: 30px;
    width: 350px;
    
}

.card h1 {
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
    font-sizer: 18px;
}

.card:nth-child(1) {
    background: linear-gradient(-229deg, #00DBDE, #FC00FF);
}

.card:nth-child(2) {
    background: linear-gradient(-229deg, #0093E9, #80D0C7);
}

.card:nth-child(3) {
    background: linear-gradient(-229deg, #50d990, #d4d054);
}

.card:nth-child(4) {
    background: linear-gradient(-229deg, #D9AFD9, #97D9E1);
}

.card:nth-child(5) {
    background: linear-gradient(-229deg, #FBAB7E, #F7CE68);
}
