@charset "utf-8";


        body {
            background-color: cadetblue;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        h1 {
            color: rgb(169, 172, 27);
            background-color: rgb(94, 133, 139);
        }
        h2 {
            color: rgb(198, 218, 25);
        }

        p {
            text-align: justify;
        }

